@import "./extend";

.body-404 {
    height: 100vh;
    background-color: #fcc4a4;
}

.page-not-found {
    height: 100vh;
}

.img-404 {
    width: 100vh;
    height: 600px;
}

.btn-404 {
    margin-left: 150px;
    border: none;    
}