%btn {
    position: absolute;
    top: 175%;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    border: none;
    background-color: white;
    padding: 5px 15px;

    @include contactoL {
        top: 155%;
    }

    @include contactoG {
        top: 165%;
    }

    @include contactoLG {
        top: 175%;
    }
}

%fcolumn {
    display: flex;
    flex-direction: column;
}

%jacenter {
    justify-content: center;
    align-items: center;
}

%hhsection {
    min-height: 95vh;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

%hnav {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: $fw+200;
    gap: 70px;

    @include contactoS{
        font-size: 11px;
        gap: 10px;
        align-items: center;
    }

    @include mujerS {
        font-size: 11px;
        gap: 10px;
        align-items: center;        
        background-color: rgb(230, 230, 230);
        opacity: 0.8;
    }

    @include mujerM {
        font-size: 11px;
        gap: 10px;
        align-items: center;        
        background-color: rgb(230, 230, 230);
        opacity: 0.8;        
    }

    @include mujerL {
        font-size: 13px;
        gap: 40px;
        background-color: transparent;
        opacity: 1;        
    }
    
    @include mujerG {
        gap: 70px;
    }
}

%ctg-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}