@import "./extend";

.ctg {
    margin: 3rem;

    @include mujerS {
        margin: 1rem;
    }

    @include mujerM {
        margin: 2rem;
        margin-left: 0px;
    }

    @include mujerG {
        margin: 3rem;
    }

    &__row {
        width: 100%;
        text-align-last: center;

        @include mujerM {
            text-align-last: right;
        }

        @include mujerL {
            text-align-last: center;
        }
    }
    img {
        object-fit: cover;
        position: relative;
        height: 500px;
        width: 300px;

        @include mujerS {
            height: 70%;
            width: 70%;
        }

        @include mujerM {
            padding: 1rem; 
        }

        @include mujerL {
            
        }
    }
    &__descripcion {
        @extend %fcolumn;
        @extend %jacenter;
        padding: 15px 0px;
        font-size: 20px;

        @include mujerS {
            font-size: 15px;
        }
    }

    &__pijama {
        font-size: 0.9rem;
    }

    
}

