@import "./vars";
@import "./responsive";
@import "./extend";

/*INDEX*/

.header {
    display: flex;
    width: 100%;

    &__logo {
        @include mujerS {
           width: 50px;
           height: 50px; 
        }
    }

    &__burger {
        @include contactoS {
            border: none;
        }

        @include contactoM {
            border: none;
        }
    }
    &__hsec {
        display: grid;
        grid-template-rows: max-content;
        min-height: 95vh;
        min-width: 100%;
        background-image: url(https://fotos.perfil.com/2020/07/24/el-55-por-ciento-de-las-mujeres-creen-son-retratadas-negativamente-en-los-medios-991642.jpg);
        background-size: cover;

        @include promoS {
            background-position: center;
        }

        &__nav {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: $fw+200;
            gap: 70px;
            @include contactoS{
                font-size: 11px;
                gap: 10px;
                align-items: center;
            }
        
            @include mujerS {
                font-size: 11px;
                gap: 10px;
                align-items: center;        
                background-color: rgb(230, 230, 230);
                opacity: 0.8;
            }
        
            @include mujerM {
                font-size: 11px;
                gap: 10px;
                align-items: center;        
                background-color: rgb(230, 230, 230);
                opacity: 0.8;        
            }
        
            @include mujerL {
                font-size: 13px;
                gap: 40px;
                background-color: transparent;
                opacity: 1;        
            }
            
            @include mujerG {
                gap: 70px;
            }            
        }   
    }
    &__text {
        @extend %fcolumn;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 25px;
        line-height: 1;
        color: black;

        @include contactoS {
            padding-bottom: 40px;
        }
        &__h2 {
            font-size: $fs;
            font-weight: ($fw+100)*2; 
        }
        button {
            padding: 10px;
            background-color: rgb(231, 216, 216);
            border: solid 1px black;
            font-weight: 800;
        }
        button:hover {
            color:mediumvioletred;
        }
    }
}

/*FIN INDEX*/


/*CONTACTO*/
/*PROMOCIONES*/
/*NOSOTROS*/

.nav-right {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: $fw+200;
    gap: 70px;

    @include contactoS{
        font-size: 11px;
        gap: 10px;
        align-items: center;
    }

    @include contactoM {
        font-size: 11px;
        gap: 10px;
        align-items: center;       
    }

    @include contactoG {
        font-size: 12px;
        gap: 40px;        
    }

    @include contactoLG {
        font-size: 13px;
        gap: 70px;
    }
}


/*MUJER*/

.header {
    &__mujer {
        @extend %hhsection;
        background-image: url(https://merodea.com/wp-content/uploads/2017/01/aerie-real-campaign-min.jpg);
        background-position: 30% 15%;

        @include mujerS {
            background-position: 16%;
        }

        &__nav {
            @extend %hnav;
        }
    }
}


/*HOMBRE*/

.header {
    &__hombre {
        @extend %hhsection;
        background-image: url(https://i.blogs.es/959641/calvin-klein-festeja-el-amor-la-individualidad-y-la-autenticidad-en-su-nueva-campana-01/1366_2000.jpg);
        
        @include mujerS {
            background-position: 35%;
        }
        
        &__nav {
            @extend %hnav;
        }
    }
}


/*NIÑOS*/

.header {
    &__ninos {
        @extend %hhsection;
        background-image: url(https://www.zonadamas.mx/wp-content/uploads/2020/04/JIA-pijama-para-ni%C3%B1os-1.jpg);
        
        @include mujerS {
            background-position: 30%;
        }
                
        &__nav {
            @extend %hnav;
        }
    }
}

.menu-galeria {
    font-size: 12px;
    min-width: 1rem;
}