@import "./vars";
@import "./responsive";
@import "./extend";


.main {
        @extend %fcolumn;
        @extend %jacenter;
    &__ncln {
        @extend %fcolumn;
        @extend %jacenter;
        background-color: black;
        width: 100%;
        padding: 15px 0px; 
        margin-bottom: 5px;
        line-height: 1.5;
        &__h4 {
            color: white;
            font-weight: ($fw+100)*2;
            font-size: 16px; 
        }
        &__h1 {
            color: orchid;
            font-weight: ($fw+100)*2;
            font-size: $fs+5; 
        }
    }
    &__img {
        img {
            @extend %ctg-img;
            object-position: right;

            @include contactoS {
                width: 100%;
            }
        }
        img:hover {
            @include contactoL {
                transform: scale(1.1);
            }
        }
        &__btnm {
            @extend %btn;
            left: 13%;

            @include contactoS {
                opacity: 0;
            }

            @include contactoM {
                opacity: 0;
            }

            @include contactoL {
                opacity: 1;
                left: 11%;
            }

            @include contactoG {
                
            }
        }
        &__btnm:hover {
            color: indianred;
        }
        &__btnh {
            @extend %btn;
            left: 46%;

            @include contactoS {
                opacity: 0;
            }

            @include contactoM {
                opacity: 0;
            }

            @include contactoL {
                opacity: 1;
                left: 44%;
            }

            @include contactoG {
                
            }
        }
        &__btnh:hover {
            color: rgb(24, 214, 81);
        }
        &__btnn {
            @extend %btn;
            left: 79%;

            @include contactoS {
                opacity: 0;
            }

            @include contactoM {
                opacity: 0;
            }

            @include contactoL {
                opacity: 1;
                left: 77%;
            }

            @include contactoG {
                left: 79%;
            }
        }
        &__btnn:hover {
            color:rgb(192, 19, 19)
        }
    }

    &__video {
        margin: 25px 0px;

        @include promoS {
            width: 100%;
        }    
    }
}










