@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@500;800&display=swap");
/*RESPONSIVE CONTACTO*/
/*RESPONSIVE PROMOCIONES*/
/*RESPONSIVE GALERIA MUJER*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: 'Sarabun', sans-serif;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-size: cover;
}

.body__ofertas {
  background-color: black;
  color: white;
  font-size: 14px;
  margin: 0px;
  padding: 20px;
  text-align: center;
  line-height: 0.2;
}

@media screen and (max-width: 400px) {
  .body__ofertas {
    font-size: 13px;
    padding: 13px;
    line-height: 1.2;
  }
}

/*RESPONSIVE CONTACTO*/
/*RESPONSIVE PROMOCIONES*/
/*RESPONSIVE GALERIA MUJER*/
.main__img__btnm, .main__img__btnh, .main__img__btnn {
  position: absolute;
  top: 75%;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  border: none;
  background-color: white;
  padding: 5px 15px;
}

.header__text, .main, .main__ncln, .footer__col, .mainc__fondo, .ctg__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main, .main__ncln, .ctg__descripcion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mujer, .header__hombre, .header__ninos {
  min-height: 95vh;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  gap: 70px;
}

@media screen and (max-width: 400px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    opacity: 0.6;
  }
}

.main__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*INDEX*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .header__burger {
    border: none;
  }
}

@media screen and (min-width: 401px) {
  .header__burger {
    border: none;
  }
}

.header__hsec {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  min-height: 95vh;
  min-width: 100%;
  background-image: url(https://fotos.perfil.com/2020/07/24/el-55-por-ciento-de-las-mujeres-creen-son-retratadas-negativamente-en-los-medios-991642.jpg);
  background-size: cover;
}

.header__hsec__nav {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  gap: 70px;
}

.header__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10px;
  line-height: 1;
  color: black;
}

.header__text__h2 {
  font-size: 20px;
  font-weight: 800;
}

.header__text button {
  padding: 10px;
  background-color: #ee9f9f;
  border: solid 1px black;
  font-weight: 800;
}

.header__text button:hover {
  color: mediumvioletred;
}

/*FIN INDEX*/
/*CONTACTO*/
/*PROMOCIONES*/
/*NOSOTROS*/
.nav-right {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  gap: 70px;
}

@media screen and (max-width: 400px) {
  .nav-right {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*MUJER*/
.header__mujer {
  background-image: url(https://merodea.com/wp-content/uploads/2017/01/aerie-real-campaign-min.jpg);
  background-position: 30% 15%;
}

/*HOMBRE*/
.header__hombre {
  background-image: url(https://i.blogs.es/959641/calvin-klein-festeja-el-amor-la-individualidad-y-la-autenticidad-en-su-nueva-campana-01/1366_2000.jpg);
}

/*NIÑOS*/
.header__ninos {
  background-image: url(https://www.zonadamas.mx/wp-content/uploads/2020/04/JIA-pijama-para-ni%C3%B1os-1.jpg);
}

/*RESPONSIVE CONTACTO*/
/*RESPONSIVE PROMOCIONES*/
/*RESPONSIVE GALERIA MUJER*/
.main__img__btnm, .main__img__btnh, .main__img__btnn {
  position: absolute;
  top: 75%;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  border: none;
  background-color: white;
  padding: 5px 15px;
}

.header__text, .main, .main__ncln, .footer__col, .mainc__fondo, .ctg__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main, .main__ncln, .ctg__descripcion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mujer, .header__hombre, .header__ninos {
  min-height: 95vh;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  gap: 70px;
}

@media screen and (max-width: 400px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    opacity: 0.6;
  }
}

.main__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__ncln {
  background-color: black;
  width: 100%;
  padding: 15px 0px;
  margin-bottom: 5px;
  line-height: 1.5;
}

.main__ncln__h4 {
  color: white;
  font-weight: 800;
  font-size: 16px;
}

.main__ncln__h1 {
  color: orchid;
  font-weight: 800;
  font-size: 25px;
}

.main__img {
  margin: 10px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 5px;
  position: relative;
}

.main__img img {
  -o-object-position: right;
     object-position: right;
}

.main__img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main__img__btnm {
  left: 13%;
}

.main__img__btnm:hover {
  color: indianred;
}

.main__img__btnh {
  left: 46%;
}

.main__img__btnh:hover {
  color: #18d651;
}

.main__img__btnn {
  left: 79%;
}

.main__img__btnn:hover {
  color: #c01313;
}

.main__video {
  margin: 25px 0px;
}

.main__img__btnm, .main__img__btnh, .main__img__btnn {
  position: absolute;
  top: 75%;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  border: none;
  background-color: white;
  padding: 5px 15px;
}

.header__text, .main, .main__ncln, .footer__col, .mainc__fondo, .ctg__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main, .main__ncln, .ctg__descripcion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mujer, .header__hombre, .header__ninos {
  min-height: 95vh;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  gap: 70px;
}

@media screen and (max-width: 400px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    opacity: 0.6;
  }
}

.main__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*RESPONSIVE CONTACTO*/
/*RESPONSIVE PROMOCIONES*/
/*RESPONSIVE GALERIA MUJER*/
.footer__myr {
  width: 100%;
  text-align: center;
  margin: 0px 5px;
}

@media screen and (max-width: 766px) {
  .footer__myr {
    margin-top: 100px;
  }
}

.footer__col__h3 {
  color: black;
  font-size: 20px;
  font-weight: 800;
}

.footer__list {
  padding-left: 0px;
}

.footer__list__item {
  color: black;
  list-style: none;
  font-weight: 500;
  line-height: 2;
}

/*RESPONSIVE CONTACTO*/
/*RESPONSIVE PROMOCIONES*/
/*RESPONSIVE GALERIA MUJER*/
.main__img__btnm, .main__img__btnh, .main__img__btnn {
  position: absolute;
  top: 75%;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  border: none;
  background-color: white;
  padding: 5px 15px;
}

.header__text, .main, .main__ncln, .footer__col, .mainc__fondo, .ctg__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main, .main__ncln, .ctg__descripcion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mujer, .header__hombre, .header__ninos {
  min-height: 95vh;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  gap: 70px;
}

@media screen and (max-width: 400px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    opacity: 0.6;
  }
}

.main__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainc__h1 {
  width: 100%;
  font-weight: 800;
  font-size: 35px;
  padding: 10px 300px;
}

@media screen and (max-width: 400px) {
  .mainc__h1 {
    font-size: 23px;
    padding: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 401px) {
  .mainc__h1 {
    padding: 0px;
    font-size: 24px;
    text-align: center;
  }
}

.mainc__fondo {
  width: 100%;
  padding-bottom: 30px;
  line-height: 1.5;
}

@media screen and (max-width: 400px) {
  .mainc__fondo {
    padding-bottom: 10px;
  }
}

.mainc__form {
  margin: 0px 20px;
  padding: 10px 20px;
  padding-left: 250px;
}

@media screen and (max-width: 400px) {
  .mainc__form {
    padding-left: 1px;
    font-size: 15px;
    text-align: center;
  }
}

@media screen and (min-width: 401px) {
  .mainc__form {
    padding-left: 2px;
    text-align: center;
  }
}

.telemarketer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .telemarketer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 400px) {
  .asistente {
    width: 270px;
    height: 270px;
  }
}

@media screen and (min-width: 401px) {
  .asistente {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .asistente {
    width: 370px;
    height: 370px;
  }
}

@media screen and (min-width: 992px) {
  .asistente {
    width: 410px;
    height: 410px;
  }
}

@media screen and (min-width: 1200px) {
  .asistente {
    width: 450px;
    height: 450px;
  }
}

.main__img__btnm, .main__img__btnh, .main__img__btnn {
  position: absolute;
  top: 75%;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  border: none;
  background-color: white;
  padding: 5px 15px;
}

.header__text, .main, .main__ncln, .footer__col, .mainc__fondo, .ctg__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main, .main__ncln, .ctg__descripcion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mujer, .header__hombre, .header__ninos {
  min-height: 95vh;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  gap: 70px;
}

@media screen and (max-width: 400px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    opacity: 0.6;
  }
}

.main__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ctg {
  margin: 3rem;
}

@media screen and (max-width: 768px) {
  .ctg {
    margin: 1rem;
  }
}

.ctg__row {
  width: 100%;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .ctg__row {
    margin-left: 0px;
  }
}

.ctg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 450px;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .ctg img {
    height: 100%;
  }
}

.ctg__descripcion {
  width: 72%;
  padding: 15px 0px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .ctg__descripcion {
    width: 100%;
  }
}

/*RESPONSIVE CONTACTO*/
/*RESPONSIVE PROMOCIONES*/
/*RESPONSIVE GALERIA MUJER*/
.main__img__btnm, .main__img__btnh, .main__img__btnn {
  position: absolute;
  top: 75%;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  border: none;
  background-color: white;
  padding: 5px 15px;
}

.header__text, .main, .main__ncln, .footer__col, .mainc__fondo, .ctg__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main, .main__ncln, .ctg__descripcion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mujer, .header__hombre, .header__ninos {
  min-height: 95vh;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  gap: 70px;
}

@media screen and (max-width: 400px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    opacity: 0.6;
  }
}

.main__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__img__btnm, .main__img__btnh, .main__img__btnn {
  position: absolute;
  top: 75%;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  border: none;
  background-color: white;
  padding: 5px 15px;
}

.header__text, .main, .main__ncln, .footer__col, .mainc__fondo, .ctg__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main, .main__ncln, .ctg__descripcion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mujer, .header__hombre, .header__ninos {
  min-height: 95vh;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  gap: 70px;
}

@media screen and (max-width: 400px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header__mujer__nav, .header__hombre__nav, .header__ninos__nav {
    font-size: 11px;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    opacity: 0.6;
  }
}

.main__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-404 {
  height: 100vh;
  background-color: #fcc4a4;
}

.page-not-found {
  height: 100vh;
}

.img-404 {
  width: 100vh;
  height: 600px;
}

.btn-404 {
  margin-left: 150px;
  border: none;
}
/*# sourceMappingURL=styles.css.map */